/*
====================================================
Table of content
====================================================
1. Header styling
2. Navigation styling
3. List styling
4. link styling
6. button styling
7.icon button styling
8. modal pop up styling
9. Responsive Design for Screens Less than 700px 
*/

/*1. Header styling*/
header.flex{
    justify-content: space-between;
    padding: 0 2.5rem;
}

/*2. Navigation styling*/
header.flex nav{
    background-color: var(--bgHeader);
    padding: 0.7rem 2rem;
    margin-top: 1.2rem;
    border-radius: 55px;
    box-shadow: 1px 1px 20px rgba(82, 76, 76, 0.324);
}

/* 3. List styling */
header ul.flex {
    gap: 16px;
}

/*4. link styling*/
header ul li a {
    color: var(--title);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 600;
}

header ul li a:hover {
    color: var(--blue);
    opacity: 1;
    font-size: 0.9rem;

}

/* 6. button styling */
header button{
    font-size: 1.2rem;
}

header button.menu{
    display: none;
}

/* 7.icon button styling*/
header .icon-menu, header button.mode{
    display: flex;
    background-color: var(--bgHeader);
    height: 2.4rem;
    width: 2.4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    color: var(--subtitle);
    border: 1px solid rgba(250, 128, 114, 0.368);

}

header .icon-menu:hover, header button.mode:hover{
    color: var(--title);
    border: 1px solid rgba(250, 128, 114, 0.822);
    transition: .5s;
}

header .icon-clear{
   font-size: 1.5rem; 
   color: var(--subtitle);
   transition: 0.3s;

}

header .icon-clear:hover{
    font-size: 1.7rem; 
    color: crimson;
    rotate: 180deg;
 
 }

/* 8. modal pop up styling */
header .fixed {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgba(40, 40, 48, 0.9);
}

@keyframes ChangeScaling {
    0% {scale: 0;}
    70% {scale: 1.2;}
    100% {scale: 1;}
    
}

header .fixed ul.modal{
    width: 85%;
    margin-left: auto;
    margin-right:auto ;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
    animation: ChangeScaling 0.7s 1;
}

header .fixed ul.modal li{
    border-bottom: 1px solid var(--border);
    padding-bottom: .77rem;
    padding-top: .5rem;
}

header .fixed ul.modal li:last-child{
    border: none;
}

header .fixed ul.modal li a{
    font-size: 1rem;
}

header .fixed ul.modal li:first-child{
    text-align: right;
    border: none;
    padding-bottom: 0;
    padding-top: .2rem;
}

/* 9. Responsive Design for Screens Less than 700px */
@media (max-width : 700px){
    header.flex nav{
        display: none;
    }
    header.flex{
        padding-top: 1.4rem;
    }
    header button.menu{
        display: block;
    }
}